
$primary:   hsl(183, 100%, 34%);
$dark:      hsl(183, 100%, 17%);
$light:     hsl(183, 100%, 95%);
$success:   hsl(114, 37%, 39%);
$danger:     hsl(346, 100%, 42%);
$info:      hsl(199, 100%, 41%);
$warning:   hsl(21,  100%, 52%);

@import '../bootstrap/scss/bootstrap.scss';

